<div class="p-3 text-white bg-dark side-container">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Angular</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="alumnos" class="nav-link active" (click)="changePage('Alumnos')" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          Alumnos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="clases" class="nav-link active" (click)="changePage('Clases')" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          Clases
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="cursos" class="nav-link active" (click)="changePage('Cursos')" aria-current="page">
          <svg class="bi me-2" width="16" height="16"></svg>
          Cursos
        </a>
      </li>

    </ul>
  </div>